﻿@charset 'utf-8';
body, html {
	height: 100%;
	background: #0f0504;
}
.view {
	position: relative;
	width: 100%;
	height: 605px;
	-webkit-transform-style: preserve-3d;
}
.viewbac0 {
	background: url("../images/html_bac0.jpg") no-repeat center 0 / 100%; 	
}
.viewbac1 {
	background: url("../images/html_bac1.jpg") no-repeat center 0 / 100%; 	
}
.viewbac2 {
	background: url("../images/html_bac2.jpg") no-repeat center 0 / 100%; 	
}
.viewbac3 {
	background: url("../images/html_bac3.jpg") no-repeat center 0 / 100%; 	
}
.viewbac4 {
	background: url("../images/html_bac4.jpg") no-repeat center 0 / 100%; 	
}


.screen {
	position: absolute;
	top: -100px;
	width: 100%;
	height: 647px;
	background: url("../images/bac.png") no-repeat center 0;
	opacity: 0.6;
}
.box {
	position: absolute;
	width: 100%;
	height: 600px;
	overflow: hidden;
	-webkit-perspective: 1600px;
	-webkit-transform-style: preserve-3d;
	z-index: 10;
}

.wrapHide, .wrapShow, .wrap {
	position: absolute;
	top: 80px;
	width: 510px;
	height: 340px;
	text-align: center;
	-webkit-transform-style:preserve-3d;
}
/* left:110%待测 */
.wrap {
	left: 105%;	
	-webkit-transform-origin: left;
	-webkit-transform: translateZ(100px) rotateY(-80deg);
	/*-webkit-transition: all 1s ease;  需要在js中控制*/
}
.wrapShow {
	left: 50%;
	margin-left: -255px;
	-webkit-transform: rotateY(0deg);
}
.wrapHide {
	left: 0%;
	margin-left: -520px;
	-webkit-transform-origin: right;
	-webkit-transform: translateZ(100px) rotateY(80deg);
}
/*.wrap {
	margin:0;
	text-align:center;
	-webkit-transform-origin:left;
	-webkit-transform:translateZ(300px) rotateY(-80deg);
}


height: 674px;
position: absolute;
left: 0;
top: -108px;
width: 100%;
background: url(../img/curriculumChild.png) no-repeat center 0;


.curriculumMoreWrap{
	position:relative;
	height:605px;width:100%;
	overflow:hidden;
}
.cMContent {
	-webkit-transform-style:preserve-3d;
	-webkit-perspective:1200px;
	z-index:10;
	width:100%;
	height:400px;
	position:absolute;
	left:0;
}
.cMContentBox {
	width:510px;
	position:absolute;
	top:100px;
	left:110%;
	margin:0;
	text-align:center;
	-webkit-transform-origin:left;
	-webkit-transform:translateZ(300px) rotateY(-80deg);
	-webkit-transform-style:preserve-3d;
	-webkit-user-select:text;
}
.cMContentBox * ::selection {
	background:#c33;
	color:#fff;
}
.cMContentBoxHide {
	left:0;
	margin-left:-600px;
	-webkit-transform-origin:right;
	-webkit-transform:translateZ(300px) rotateY(80deg);
}
.cMContentBoxShow {
	left:50%;
	margin-left:-255px;
	-webkit-transform:translateZ(0px) rotateY(0deg);
	-webkit-user-select:text;
}*/
/*
.wrapNow {
	-webkit-transform: translateZ(-500px);
}*/
.wrap h1, .wrapNow h1 {
	font-size: 40px;
	font-weight: bold;
	line-height: 60px;
	color: #fff;
}
.wrap p, .wrapNow p {
	overflow: hidden;
	height: 60px;
	font-size: 14px;
	line-height: 20px;
	text-align: left;
	color: #fff;
}
.wrap img {
	display: block;
	width: 180px;
	height: 180px;
	margin: 7px 162px;
	padding: 3px;
	background: rgba(255, 255, 255, 0.6);
	border-radius: 10px;
}

/*.nav {
	position: absolute;
	width: 100%;
	height: 40px;
	color: #fff;
	bottom: 0;
	background: rgba(255, 255, 255, 0.2);
	z-index: 99;
}*/

.nav {
	position: relative;
	width: 100%;
	height: 40px;
	color: #fff;
	background: rgba(255, 255, 255, 0.2);
	z-index: 99;
}
.nav ul {
	width: 500px;
	margin: 0 auto;
}
.nav li {
	float: left;
	width: 100px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: rgba(255, 255, 255, 0.2);
	cursor: pointer;
}
.nav .active {
	background: rgba(255, 255, 255, 0.4);
}
